# Visual Studio
.vs/
*.user
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Builded
x64/
x86/
Debug/
Release/
*.obj
*.pdb
*.log

# CMake
CMakeCache.txt
CMakeFiles/
out/

# Siv3D Const
Siv3D/*/Screenshot/
Siv3D/*/Scene/

# Photon / SDK / Cants
external/
*.lib
*.dll
*.exe

# others
*.ipch
*.aps
*.ncb
*.opendb
Incursioner/Incursioner/PHOTON_APP_ID.SECRET
